
		<div class='col-sm-4 col-xs-3 text-left'>
			<span class='h4 my_page_head' ng-bind='( page_name | uppercase )'></span>
		</div>
		<div class='col-sm-8 col-xs-9 text-left'>
			<span class='h4 my_home_name' ng-bind='( userName | uppercase )'></span>
			<a ng-if='checkLogin()' ng-href="#admin">Login</a>
			<a ng-if='checkLogout()' ng-href="#admin" ng-click="logout()">Logout</a>
		</div>

<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 no-padding" ng-init="init('kittens')">
	<!-- <p ng-bind='( result )' ></p>
	</div> -->
		<!-- new carousel b-->
			<div id="slides_control" class='carousasl-custom'>
				<div>
					<carousel interval="myInterval">
						<slide ng-repeat="slide in slides track by $index" active="slide.active">
							<img class="img-slider" ng-src="{{slide.image}}">
							<div class="carousel-caption">
								<h4>Slide : {{$index+1}}</h4>
							</div>
						</slide>
					</carousel>
				</div>
			</div>

		<!-- new carousel e-->
			<!-- parallax start -->

			<div class="bgimg-1">
				<div class="caption">
					<span class="border" ng-bind='( userNamehome | uppercase )'></span>
				</div>
			</div>
			<div class='firsthead'>
				<h3 class='text-center' ng-bind='(userContenthead | capitalize )'></h3>
				<p ng-bind='(userContent | capitalize )'></p>
			</div>
			<div class="bgimg-2">
				<div class="caption">
					<span class="border firstcontent" ng-bind='(userContenthead2 | capitalize )'></span>
				</div>
			</div>
			<div class='secondhead'>
				<div class='secondcontent'>
					<p ng-bind='( userContent2 | capitalize)'></p>
				</div>
			</div>
			<div class="bgimg-3">
				<div class="caption">
					<span class="border thirdhead" ng-bind='(userContenthead3 | capitalize )'></span>
				</div>
			</div>
			<div class='thirddiv'>
				<div class='thirdcontent' style="">
					<p ng-bind='( userContent3 | capitalize)'></p>
				</div>
			</div>
			<div class="bgimg-1">
				<div class="caption">
					<span class="border">COOL!</span>
				</div>
			</div>


	<!-- parallax start -->
